<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PPDNSMappingDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67B8A5371C4E172D00DE1CE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B8A5501C4E172D00DE1CE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B8A55B1C4E172D00DE1CE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
